<?xml version='1.0' encoding='windows-1252'?>
<!--
  WiX installer source for LeopardWM personal-fork releases.

  UpgradeCode is intentionally preserved from upstream so upstream v0.2.6 and
  earlier sehoon builds can be upgraded in place. ProductCode is regenerated
  for every MSI; AllowSameVersionUpgrades supports fork builds whose public
  release suffix cannot be represented in MSI's numeric ProductVersion.
-->

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='LeopardWM'
        UpgradeCode='EE10F2D5-DA80-43EA-B4D4-A0D37C69DE83'
        Manufacturer='jcardama / sehoon123 fork'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='LeopardWM scrolling tiling window manager for Windows'
            Manufacturer='jcardama / sehoon123 fork'
            InstallerVersion='500'
            Languages='1033'
            Compressed='yes'
            InstallScope='perMachine'
            SummaryCodepage='1252'/>

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            AllowSameVersionUpgrades='yes'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='LeopardWM installation media'/>
        <Property Id='DiskPrompt' Value='LeopardWM Installation'/>

        <Icon Id='ProductIcon' SourceFile='assets\leopardwm.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ProductIcon'/>
        <Property Id='ARPHELPLINK' Value='https://github.com/sehoon123/LeopardWM'/>
        <Property Id='ARPURLINFOABOUT' Value='https://github.com/sehoon123/LeopardWM'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='APPLICATIONFOLDER' Name='LeopardWM'>
                    <Component Id='License' Guid='*'>
                        <File Id='LicenseFile'
                            DiskId='1'
                            Source='wix\License.rtf'
                            KeyPath='yes'/>
                    </Component>

                    <Directory Id='Bin' Name='bin'>
                        <Component Id='Path' Guid='003A20A9-3BFF-4267-9ACD-1F4F3DB5A06A' KeyPath='yes'>
                            <Environment
                                Id='PATH'
                                Name='PATH'
                                Value='[Bin]'
                                Permanent='no'
                                Part='last'
                                Action='set'
                                System='yes'/>
                        </Component>
                        <Component Id='DaemonExe' Guid='*'>
                            <File Id='exeDaemon' Name='leopardwm.exe' DiskId='1'
                                Source='$(var.CargoTargetBinDir)\leopardwm.exe' KeyPath='yes'/>
                        </Component>
                        <Component Id='CliExe' Guid='*'>
                            <File Id='exeCli' Name='leopardwm-cli.exe' DiskId='1'
                                Source='$(var.CargoTargetBinDir)\leopardwm-cli.exe' KeyPath='yes'/>
                        </Component>
                        <Component Id='LwmExe' Guid='*'>
                            <File Id='exeLwm' Name='lwm.exe' DiskId='1'
                                Source='$(var.CargoTargetBinDir)\lwm.exe' KeyPath='yes'/>
                        </Component>
                        <Component Id='WatchdogExe' Guid='*'>
                            <File Id='exeWatchdog' Name='leopardwm-watchdog.exe' DiskId='1'
                                Source='$(var.CargoTargetBinDir)\leopardwm-watchdog.exe' KeyPath='yes'/>
                        </Component>
                    </Directory>

                    <Component Id='StartMenuShortcuts' Guid='D72448C6-EB1A-45C3-A6FB-12A351513743'>
                        <Shortcut Id='StartMenuLeopardWM'
                            Directory='ApplicationProgramsFolder'
                            Name='LeopardWM'
                            Description='Start LeopardWM'
                            Target='[Bin]leopardwm.exe'
                            WorkingDirectory='Bin'
                            Icon='ProductIcon'
                            Advertise='no'/>
                        <Shortcut Id='StartMenuLeopardWMSafeMode'
                            Directory='ApplicationProgramsFolder'
                            Name='LeopardWM (Safe Mode)'
                            Description='Start LeopardWM with configuration and session restore disabled'
                            Target='[Bin]leopardwm.exe'
                            Arguments='--safe-mode'
                            WorkingDirectory='Bin'
                            Icon='ProductIcon'
                            Advertise='no'/>
                        <RemoveFolder Id='RemoveApplicationProgramsFolder'
                            Directory='ApplicationProgramsFolder'
                            On='uninstall'/>
                        <RegistryValue Root='HKLM'
                            Key='Software\sehoon123\LeopardWM'
                            Name='StartMenuShortcuts'
                            Type='integer'
                            Value='1'
                            KeyPath='yes'/>
                    </Component>

                    <Component Id='DesktopShortcut' Guid='5C1CBA08-9F12-4A1F-AE63-3EAB4C0DC160'>
                        <Shortcut Id='DesktopLeopardWM'
                            Directory='DesktopFolder'
                            Name='LeopardWM'
                            Description='Start LeopardWM'
                            Target='[Bin]leopardwm.exe'
                            WorkingDirectory='Bin'
                            Icon='ProductIcon'
                            Advertise='no'/>
                        <RegistryValue Root='HKLM'
                            Key='Software\sehoon123\LeopardWM'
                            Name='DesktopShortcut'
                            Type='integer'
                            Value='1'
                            KeyPath='yes'/>
                    </Component>
                </Directory>
            </Directory>

            <Directory Id='ProgramMenuFolder'>
                <Directory Id='ApplicationProgramsFolder' Name='LeopardWM'/>
            </Directory>
            <Directory Id='DesktopFolder'/>
        </Directory>

        <Feature Id='Binaries'
            Title='Application'
            Description='Installs the LeopardWM daemon, command-line tools, watchdog, and license.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>
            <ComponentRef Id='License'/>
            <ComponentRef Id='DaemonExe'/>
            <ComponentRef Id='CliExe'/>
            <ComponentRef Id='LwmExe'/>
            <ComponentRef Id='WatchdogExe'/>

            <Feature Id='Environment'
                Title='PATH Environment Variable'
                Description='Add the LeopardWM bin folder to the system PATH.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='Path'/>
            </Feature>

            <Feature Id='StartMenuFeature'
                Title='Start Menu Shortcuts'
                Description='Add normal and Safe Mode shortcuts to the Start Menu.'
                Level='1'
                Absent='allow'>
                <ComponentRef Id='StartMenuShortcuts'/>
            </Feature>

            <Feature Id='DesktopShortcutFeature'
                Title='Desktop Shortcut'
                Description='Add a LeopardWM shortcut to the public desktop.'
                Level='2'
                Absent='allow'>
                <ComponentRef Id='DesktopShortcut'/>
            </Feature>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
        </UI>

        <WixVariable Id='WixUILicenseRtf' Value='wix\License.rtf'/>

    </Product>

</Wix>
